
.container {                                               /*pagination css*/
	margin: 0px auto 0px auto;
	width: 1200px;
	background-color: #e3e3e3;
}
.social-logo{                                              /*social link logo*/
	float: right;
}
.clearfix{
/*background-color: pink;*//*if you want to add colour in header so by you can do this */
}
.square{
	padding-right: 5px;
	padding-left: 5px;
}
.topnav {
	display:flex;
}
.abc{
	text-decoration:none;
}
.topnav .contact{	 
    width:25%;
    margin-top:70px;
    text-align:center;
    font-size:30px;
    float: left;
}
.topnav a{                         /*decoration remove from nav bar*/
    text-decoration: none;
}
.image0{  
	padding:5px;
	height:100px;
	width:100px;
	float:left;
}
.image1{
	width:1190px;
	height:500px;
}
div.gallery{
	margin-left:9px;
	margin-right:auto;
    float:left;
    width:24%;
}

div.gallery img{
    width:100%;
    height:auto;
}

div.desc{
    padding:15px;
    text-align:center;
}

.offrecord{
margin-top: 15px;
	display:inline-block;
	text-align: center;
}
.offrecord1 a{
text-decoration :none;
color: red;
}
.offrecord1
{
float: left;
width: 21%;
margin-left: 6px;
}
.link-inside-offrecord1{
	margin-left: 0px;
	width: 240px;
}
.offrecord2{
	text-align: justify;
	margin: 6px;
	float: right;
	font-size:1.5em;
	line-height: 1.8;
	width: 77%;
	font-family: arial;
}
.footer
{
	padding-left: 5px;
display: inline-flex; 
font-size: 1.5em;
font-family: arial;

}
